.title {
  margin-bottom: 25px;
}

.content {
  display: flex;
  gap: 20px;
}

.imgWrapper {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.error,
.loading {
  color: red;
}

@media (max-width: $breakpoint-md) {
  .content {
    flex-direction: column-reverse;
  }
}
